<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    

    <configSections>
      <section name="ResourcePaths" type="System.Configuration.NameValueSectionHandler" />
    </configSections>

    <ResourcePaths>
      <add key="API_KEY" value="**VirusTotal API Key**" />
      <add key="DATASOURCE" value="**MSQL server**" />
      <add key="DATABASE" value="**Your database name**" />
      <add key="USERNAME" value="**server username**" />
      <add key="PASSWORD" value="**password**" />
    </ResourcePaths>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
